
.DS_Store
iEats/iEats.xcodeproj/xcuserdata/stevenschreiber.xcuserdatad/xcschemes/xcschememanagement.plist
iEats/iEats.xcworkspace/xcuserdata/stevenschreiber.xcuserdatad/UserInterfaceState.xcuserstate
iEats/Pods/Pods.xcodeproj/xcuserdata/stevenschreiber.xcuserdatad/xcschemes/xcschememanagement.plist
